@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  margin: 0;
  background: #ecf0f3;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
